#gainSlider .slider-selection {
	background: #BABABA;
}

.seqRow {
	height: 2em;
}

.seqStep {
	width: 2em;


}

.seqStepLabel {
	background-color: #f0f0f0;
	text-align: center;
}

.bsHeading {
	margin-top: 2em;
}

.spinner {
	width: 3em !important;
}

.bpm-wrap {
	float:right;
}

.bpm-wrap .bpm-label {
	float: left;
	padding-top: 7px;
}

.bpm-wrap .bootstrap-touchspin {
	width: 5em;
	float: right;
}
