.imx__rotary-outer-circle {
    position: relative;
    border-radius: 50%;
    border: 3px solid #000000;
    box-shadow: 2px 2px black;
}

.imx__rotary-middle-circle {
    position: absolute;
}

.imx__rotary-inner-circle {
    position: absolute;
}

.imx__rotary-delimiter {
    position: absolute;
}

.imx__rotary-needle {
    position: absolute;
}